.home {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/src/assets/restaurant.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
  color: white;
}

.home-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 22px;
  margin-bottom: 25px;
}

.home-content button {
  padding: 12px 25px;
  background-color: #ff9800;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}